hr {
    color: gray;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.box .text_field {
    width: 96%;
    padding: 10px 5px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray
}

.box .text_field:focus {
    outline: #43AEFC;
    border: 1px solid #43AEFC
}

.box .text_field::placeholder {
    color: grey;
    opacity: 0.7;
}

.box .btn {
    background-color: #43AEFC;
    color: #FFFFFF;
    padding: 10px 5px;
    width: 100%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.orSection {
    position: relative;
}

.orSection hr {
    position: relative;
    top: 14px;
    color: gray;
}

.orSection p {
    position: relative;
    left: 40%;
    background: #FFFFFF;
    width: 40px;
    height: 20px;
    text-align: center;
    font-size: 18px;
    bottom: 2px;
    color: gray;
}


.error {
    background-color: rgb(163, 33, 33);
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    font-size: 14px;
}