.weather_report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.weather_report img {
    width: 100px;
    height: 80px;
}

.temperature {
    display: flex;
    font-size: 35px;
}

/* .condition {
    font-size: 18px;
} */

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: 8px;
}

.temperature_details {
    display: flex;
    /* justify-content: center; */
    border-top: 1px solid grey;
    justify-content: space-between;
}

.feels_like {
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
    padding: 10px 32px;
    width: 100%;
    font-size: 12px;
}

.feels_like_detail_column {
    display: flex;
}

.humidity {
    display: flex;
    align-items: center;
    padding: 10px 32px;
    width: 100%;
    font-size: 12px;
}


.humidity_detail_column {
    display: flex;
}